@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

@font-face{
	font-family:'Bebas Neue'; src:url(../fonts/BebasNeue-Regular.ttf);
	}

.box-user {
      width: 300px;
      height: 50px;
      padding: 15px;
      border: 5px solid red;
      margin: 20px;
       
      background-color: yellow;
}

.timpa {
		z-index: -2;
		top: 0px;
		-webkit-filter:brightness(60%);
}

.atas {
		margin-top:-230px;
		color: #fff;
		margin-left:-10px;
		font-family: Bebas Neue;
	
}

.jarak {
	margin-bottom : 200px;
	color: white;
}

.boxi0{
	font-family: Bebas Neue;
	color: #783c00;	
}

.boxi1{
	color : white;
	width: 150px;
	height: 500px;
	line-height:30px;
	background : #ac6730;
	margin-top: -90px;
	margin-left : -135px;
	text-align: center;
	font-family: Bebas Neue;
}

.boxi2{
	font-size:19px;
	color : #ac6730;
	width: 250px;
	height: 150px;
	line-height:30px;
	border:1px solid #ac6730;
	background : white;
	margin-top: -220px;
	margin-left : 200px;
	text-align: center;
	font-family: Bebas Neue;	
}

.boxi3{
	color : white;
	width: 250px;
	height: 150px;
	line-height:30px;
	background : white;
	margin-top: -190px;
	font-style:italic;
	margin-left : 650px;
	text-align: center;
	font-family: Bebas Neue;	
}


.boximg0{
	margin-top : -420px;
	margin-left : -350px;
	border-radius: 4%;
	border:4px solid #ac6730;
	width: 220px;
	height: 300px;
}

.boximg1{
	margin-top : -300px;
	margin-left : 210px;
	border:4px solid #ac6730;
	width: 220px;
	height: 300px;
	border-radius: 4%;
	
}
.layoutimg{
	margin-top: 6px;
	
}
.boxifood{
	width: 150px;
	height : 150px;
	background: #ac6730;
	color:white;	
}

.boximg2{
	margin-top : -300px;
	margin-left : 770px;
	border:4px solid #ac6730;
	width: 220px;
	height: 300px;
	border-radius: 4%;
}

.tebel {
	margin-top:5px;
	height:10px;
	background-color: white;
}

.tebel2 {
	margin-top:15px;
	height:10px;
	background-color: white;
}


.full {
    width: 100%;    
}
.gap {
	height: 30px;
	width: 100%;
	clear: both;
	display: block;
}
.footer {
	margin-top:150px;
	background:#ac6730 ;
	height: auto;
	padding-bottom: 10px;
	position: relative;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
	border-top: 1px solid #DDDDDD;
}
.footer p {
	margin: 0;
}
.footer img {
	max-width: 100%;
}
.footer h3 {
	color: white;
	font-size: 20px;
	font-weight: 600;
	line-height: 0px;
	padding: 40px 0 0px;
	text-transform: uppercase;
	margin-bottom: 15px;
}

.footer h4 {
	color: white;
	font-size: 2em;
	font-weight: 600;
	line-height: 38px;
	padding: 40px 0 10px;
	font-family: cursive;
  font-weight: lighter
}

.footer ul {
	font-size: 13px;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	margin-top: 0px;
	color: #7F8C8D;
  padding: 0 0 8px 0;
}

.email{
  border-bottom: 3px solid #fff;
}
.footer ul li a {
	padding: 0 0 0px 0;
	display: block;
}
.footer a {
	color: white;
}

.footer h5 {
	color: white;
	font-weight: 1000;
	line-height: 38px;
	font-weight: lighter;
	padding: 0px 0 0px;
}

.footer p {
  color: white;
  font-weight: lighter;
  font-size: 
}

.footer a:hover {
	text-decoration:none;
}
.supportLi h4 {
	font-size: 20px;
	font-weight: lighter;
	line-height: normal;
	margin-bottom: 0 !important;
	padding-bottom: 0;
}

.bg-gray {
	background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
	box-shadow: 0 1px 0 #B4B3B3;
}

}
.footer a {
	color: #78828D
}

.footer-bottom {
  margin-top: 2em;
	border-top: 1px solid #DDDDDD;
	padding-top: 20px;
	padding-bottom: 10px;
}
.footer-bottom p.pull-left {
	padding-top: 6px;
  font-size: 0.75em
}

.boxtable0{
	
	width: 1000px;
	border-radius: 4%;
}